@model IEnumerable<ClinicManagementSystem.Models.Medication>

@{
    ViewData["Title"] = "Medications";
}

<h1>Medications</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Photo</th>
                <th>@Html.DisplayNameFor(model => model.ImageData)</th>
                <th>@Html.DisplayNameFor(model => model.MedicationName)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.DosageForm)</th>
                <th>@Html.DisplayNameFor(model => model.Manufacturer)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.ImageData != null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)"
                                 alt="Doctor Photo" style="max-width: 50px; max-height: 50px;" />
                        }
                    </td>
                    <th>@Html.DisplayFor(modelitem => item.MedicationName)</th>
                    <th>@Html.DisplayFor(modelitem => item.Description)</th>
                    <th>@Html.DisplayFor(modelitem => item.DosageForm)</th>
                    <th>@Html.DisplayFor(modelitem => item.Manufacturer)</th>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MedicationID" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.MedicationID" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.MedicationID" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

